.header {
  color: var(--text-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;

  @include transition(background-color, 0.2s, linear);

  &.sticky {
    background-color: var(--black-color);
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;

    .logo {
      a {
        font-size: 26px;
        font-weight: 550;
        color: var(--text-color);
        text-decoration: none;
      }
    }

    .user_actions {
      ul {
        display: flex;
        list-style-type: none;
        margin: 0.8rem;
      }
      li {
        @include margin-x(0.8rem, 0.8rem);
        cursor: pointer;

        .tooltip {
          @include toggleVisibility(hidden, 0);
        }
        &:hover {
          color: var(--text-muted);

          .tooltip {
            @include toggleVisibility(visible, 1);
          }
        }

        &:last-child {
          &:hover {
            div.dropdownwrapper-outerbox {
              @include toggleVisibility(visible, 1);
            }
          }
        }

        position: relative;
      }
      .dropdownwrapper-outerbox {
        position: absolute;
        border-top: 30px solid transparent;
        top: 30px;
        right: 0;
        @include toggleVisibility(hidden, 0);
        .dropdownwrapper {
          border: 2px solid var(--text-color);
          background-color: var(--black-color);

          color: var(--text-color);

          border-radius: 3px;
          padding: 15px;
          min-width: 16rem;
          outline: 30px solid transparent;

          .dividerline {
            border: 1px solid var(--text-color);
            margin: 0.5rem 0 0.5rem 0;
          }

          p {
            font-size: 16px;
            margin: 0rem 0 0.5rem 0;
          }
          button {
            background-color: var(--black-color);
            border: 1px solid var(--text-color);
            color: var(--text-color);
            padding: 10px;
            font-size: 16px;
          }

          ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            margin: 0;
            padding: 0;

            font-size: 16px;
          }
          li {
            margin: 4px 0;
          }
          li a {
            color: var(--text-color);
            cursor: pointer;
            text-decoration: none;
            :hover {
              color: var(--text-muted);
            }
          }
        }
      }
    }
  }
}
